
%section
  .row
    .span4
      %h2 Status
      %p Check status of job queue, successful and failed jobs

    .span4
      %h3
        %span#pending
          = counters[:pending]
        jobs in queue
      = link_to 'Clear queue', '#', class: 'clear-queue-link btn danger'

    .span4
      %h3== Followed #{counters[:success]} (#{counters[:error]} errors)

    .span4
      %h3 Worker status

      = form_for @settings, url: '/settings', remote: true, method: :put, html: {class: 'settings form-stacked'} do |f|
        .clearfix
          .input
            %ul.inputs-list
              %li
                %label
                  = f.radio_button 'status', 'on'
                  %span On
              %li
                %label
                  = f.radio_button 'status', 'off'
                  %span Off

        .clearfix
          = f.label :delay
          .input
            = f.text_field :delay, class: 'span2'

        .clearfix
          %label Last run

          - last_time = Job.last_time
          - unless last_time.blank?
            = time_ago_in_words Job.last_time
            ago
          - else
            never



